<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="question">
	{{ question }}
</div>

<div class="answers">
<form method="POST" action="/">
	{% for answer in answers %}
		<label>
                    <input type="radio" name="answers" value="{{ answer.split(':')[0] }}">
                        {{ answer }}
                </label>
        {% endfor %}

	<button id="previous">Previous Question</button>
	<button id="next" href='#' type="submit" value="Submit">Next Question</button>
</form>

</div>

<div id="results"></div>
{% endblock %}
