<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="width=device-width" />

        <title>Quiz App</title>

        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css" media="screen" charset="utf-8">
    </head>

    <body>
        <h1>{{ quizSubject }}</h1>
	<div class="quiz-container">
	  <div id="quiz"></div>

            <div class="slide">
                {%block content %}{% endblock %}
    	    </div>
	</div>
    </body>
</html>

