<!-- results.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="question">
	Results
</div>

<div class="answers">
    {% for question, color in questions.items() %}
            <li style="color:{{ color }}">{{ question }} </li>
    {% endfor %}
</div>

<form method="POST" action="/results">
	<button id="next" href='#' type="submit" value="Submit">Restart Quiz</button>
</form>


{% endblock %}


